<style>
  :root {
    --margin-block: {{ margin_block | default: "0" }}px;
    --collection-width: {{ collection_width | default: "300" }}px;
    --border-radius: {{ border_radius | default: "50" }}%;
    --gradient-color: {{ gradient_color | default: "linear-gradient(45deg, #f3ec78, #af4261)" }};
    --scrollbar-color: {{ scrollbar_color | default: "#FF6347" }};
  }
</style>

<div class="collection-slider-content" {{ block.shopify_attributes }}>
  <a href="{{ collection_url }}">
    <div class="collection-image-wrapper">
      {{ collection_image | image_url: width: 200, height: 200 | image_tag: alt: collection.name, crop: "center" }}
    </div>
    {{ collection_name }}
  </a>
</div>



