<style>
  :root {
    --live-gap: {{ live_gap | default: "0.5rem" }};
    --live-padding-left: {{ live_padding_left | default: "13px" }};
    --live-dot-size: {{ live_dot_size | default: "8px" }};
    --live-dot-color: {{ live_dot_color | default: "#21b646" }};
    --live-dot-margin-left: {{ live_dot_margin_left | default: "-14px" }};
    --live-dot-animation-duration: {{ live_dot_animation_duration | default: "2s" }};
    --live-dot-shadow-color: {{ live_dot_shadow_color | default: "rgba(33, 182, 70, 0.7)" }};
  }
</style>

<p class="live_visitors">
  <span id="visitors_count"></span>
 {{ 'People are watching right now.' }}
</p>

<script>
  const minVisitors = 100, maxVisitors = 200, delay= 2000;
  const visitorsCount = document.getElementById('visitors_count');
  const updateVisitors = () => visitorsCount.textContent = Math.floor(Math.random() * (maxVisitors - minVisitors) + minVisitors);
  updateVisitors();
  setInterval(updateVisitors, delay);
</script>
