<style>
  .overlapping-images-container {
    width: 100%;
  }

  .overlapping-images {
    width: 100%;
    display: flex;
    align-items: center;
  }

  .overlapping-images img {
    width: {{ overlapping_image_wpc }}px;
    height: {{ overlapping_image_wpc }}px;
    border-radius: 50%;
    object-fit: cover;
  }

  .overlapping-images img:not(:first-child) {
    margin-left: -20px;
  }

  .overlapping-images p {
    margin-left: 10px;
    font-size: 15px;
  }

  @media screen and (max-width: 450px) {
    .overlapping-images {
      flex-wrap: wrap;
      justify-content: {{ overlapping_image_align }};
    }

    .overlapping-images img {
      width: {{ overlapping_image_wmb }}px;
      height: {{ overlapping_image_wmb }}px;
    }

    .overlapping-images p {
      font-size: 12px;
    }

    .overlapping-images img:not(:first-child) {
      margin-left: -10px;
    }
  }
</style>

<div class="overlapping-images-container">
  <div class="overlapping-images">
    {% for i in (1..5) %}
      {% assign image_variable = 'overlapping_image_' | append: i %}
      {% if block.settings[image_variable] %}
        <img src="{{ block.settings[image_variable] | image_url }}" alt="" 
          width="{{ overlapping_image_wpc }}" 
          height="{{ overlapping_image_wpc }}" 
        />
      {% endif %}
    {% endfor %}
    <p> {{ overlapping_text }}
      <span style="display: block; text-align: center;">{{ overlapping_stars }}</span>
    </p>
  </div>
</div>
