<div class="key-highlights__main-container">
  <h2>Key Highlights</h2>
  <div class="key-highlights__inner-container">
    <div class="key-highlights__box">
      <span class="key-highlights__key">{{ key_highlight_key_1 }}</span>
      <span class="key-highlights__value">{{ key_highlight_value_1 }}</span>
    </div>
    <div class="key-highlights__box">
      <span class="key-highlights__key">{{ key_highlight_key_2 }}</span>
      <span class="key-highlights__value">{{ key_highlight_value_2 }}</span>
    </div>
    <div class="key-highlights__box">
      <span class="key-highlights__key">{{ key_highlight_key_3 }}</span>
      <span class="key-highlights__value">{{ key_highlight_value_3 }}</span>
    </div>
    <div class="key-highlights__box">
      <span class="key-highlights__key">{{ key_highlight_key_4 }}</span>
      <span class="key-highlights__value">{{ key_highlight_value_4 }}</span>
    </div>
    <div class="key-highlights__box">
      <span class="key-highlights__key">{{ key_highlight_key_5 }}</span>
      <span class="key-highlights__value">{{ key_highlight_value_5 }}</span>
    </div>
    <div class="key-highlights__box">
      <span class="key-highlights__key">{{ key_highlight_key_6 }}</span>
      <span class="key-highlights__value">{{ key_highlight_value_6 }}</span>
    </div>
  </div>
  <div class="key-highlights__disclaimer--text">
    Disclaimer: There might be a slight variation in the actual color of the product due to different screen resolutions.
  </div>
</div>