{%- liquid
  assign swiper_aspect_desktop = section.settings.swiper_aspect_desktop
  assign swiper_aspect_mobile = section.settings.swiper_aspect_mobile
  assign unique_id = section.id
  assign autoplay_speed = section.settings.autoplay_speed
  assign bullet_color = section.settings.bullet_color
  assign active_bullet_color = section.settings.active_bullet_color
  assign pagination_margin_top = section.settings.pagination_margin_top
  assign pagination_margin_top_mobile = section.settings.pagination_margin_top_mobile
  assign pagination_min_height = section.settings.pagination_min_height
  assign pagination_min_height_mobile = section.settings.pagination_min_height_mobile
  assign bullet_width = section.settings.bullet_width
  assign bullet_height = section.settings.bullet_height
  assign bullet_radius = section.settings.bullet_radius
  assign bullet_width_mobile = section.settings.bullet_width_mobile
  assign bullet_height_mobile = section.settings.bullet_height_mobile
  assign bullet_active_width_mobile = section.settings.bullet_active_width_mobile
  assign bullet_active_width = section.settings.bullet_active_width
-%}

<style>
  :root {
    --swiper-aspect-desktop: {{ swiper_aspect_desktop | default: "1920 / 640" }};
    --swiper-aspect-mobile: {{ swiper_aspect_mobile | default: "750 / 1100" }};
    --pagination-margin-top: {{ pagination_margin_top | default: "20px" }};
    --pagination-margin-top-mobile: {{ pagination_margin_top_mobile | default: "10px" }};
    --pagination-min-height: {{ pagination_min_height | default: "16px" }};
    --pagination-min-height-mobile: {{ pagination_min_height_mobile | default: "12px" }};
    --bullet-width: {{ bullet_width | default: "16px" }};
    --bullet-height: {{ bullet_height | default: "8px" }};
    --bullet-radius: {{ bullet_radius | default: "6px" }};
    --bullet-width-mobile: {{ bullet_width_mobile | default: "12px" }};
    --bullet-height-mobile: {{ bullet_height_mobile | default: "6px" }};
    --bullet-active-width: {{ bullet_active_width | default: "32px" }};
    --bullet-active-width-mobile: {{ bullet_active_width_mobile | default: "24px" }};
    --bullet-color: {{ bullet_color | default: "#999" }};
    --active-bullet-color: {{ active_bullet_color | default: "#000" }};
  }
</style>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css">

<div class="swiper autoplay-slideshow autoplay-slideshow-{{ unique_id }}">
  <div class="swiper-wrapper swiper-wrapper-{{ unique_id }}">
    {% for block in section.blocks %}
      <div class="swiper-slide swiper-slide-{{ unique_id }}">
        <a href="{{ block.settings.collection_link }}">
          <picture>
            <!-- Desktop image (min-width: 750px) -->
            <source media="(min-width: 750px)" srcset="{{ block.settings.slide_desktop | image_url: width: 1920 }}" width="1920" height="640" >
            <!-- Mobile image (max-width: 749px) -->
            <source media="(max-width: 749px)" srcset="{{ block.settings.slide_mobile | image_url: width: 750 }}" width="750" height="1100" >
            <!-- Fallback image -->
            <img src="{{ block.settings.slide_desktop | image_url: width: 1920 }}" alt="{{ block.settings.slide_desktop.alt | escape }}" width="1920" height="640" loading="eager" >
          </picture>
        </a>
      </div>
    {% endfor %}
  </div>

  <div class="swiper-pagination swiper-pagination-{{ unique_id }}"></div>
</div>

<!-- Swiper JS -->
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js" defer="defer"></script>

<!-- Initialize Swiper -->
<script>
  document.addEventListener("DOMContentLoaded", function () {
    var swiper = new Swiper(".autoplay-slideshow-{{ unique_id }}", {
      spaceBetween: 30,
      centeredSlides: true,
      loop: true,
      autoplay: {
        delay: {{ autoplay_speed }},
        disableOnInteraction: false,
      },
      pagination: {
        el: ".swiper-pagination-{{ unique_id }}",
        clickable: true,
      },
      on: {
        init: function () {
          console.log("Swiper initialized after DOM is ready.");
        },
      },
    });
  });
</script>

{% schema %}
{
  "name": "Slideshow Banner",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "range",
      "id": "swiper_aspect_desktop",
      "label": "Aspect Ratio (Desktop)",
      "min": 0,
      "max": 5000,
      "step": 1,
      "default": 1920,
      "unit": "/ 640"
    },
    {
      "type": "text",
      "id": "swiper_aspect_mobile",
      "label": "Aspect Ratio (Mobile)",
      "default": "750 / 1100"
    },
    {
      "type": "range",
      "id": "autoplay_speed",
      "label": "Rotate slides in ms",
      "info": "1000ms = 1sec",
      "min": 1000,
      "max": 9000,
      "step": 1000,
      "default": 2000,
      "unit": "ms"
    },
    {
      "type": "range",
      "id": "pagination_margin_top",
      "label": "Pagination Margin Top (Desktop)",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 20,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "pagination_margin_top_mobile",
      "label": "Pagination Margin Top (Mobile)",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 10,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "pagination_min_height",
      "label": "Pagination Min Height (Desktop)",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 16,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "pagination_min_height_mobile",
      "label": "Pagination Min Height (Mobile)",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 12,
      "unit": "px"
    },
    {
      "type": "header",
      "content": "Bullet Design"
    },
    {
      "type": "range",
      "id": "bullet_width",
      "label": "Bullet Width (Desktop)",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 16,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "bullet_height",
      "label": "Bullet Height (Desktop)",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 8,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "bullet_radius",
      "label": "Bullet Radius",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 6,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "bullet_width_mobile",
      "label": "Bullet Width (Mobile)",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 12,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "bullet_height_mobile",
      "label": "Bullet Height (Mobile)",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 6,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "bullet_active_width_mobile",
      "label": "Active Bullet Width (Mobile)",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 24,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "bullet_active_width",
      "label": "Active Bullet Width (Desktop)",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 32,
      "unit": "px"
    },
    {
      "type": "color",
      "id": "bullet_color",
      "label": "Bullet Color",
      "default": "#1e1e1e"
    },
    {
      "type": "color",
      "id": "active_bullet_color",
      "label": "Active Bullet Color",
      "default": "#0080FF"
    }
  ],
  "blocks": [
    {
      "name": "Slide",
      "type": "slide",
      "settings": [
        {
          "type": "image_picker",
          "id": "slide_desktop",
          "label": "Desktop Slide",
          "info": "Recommended size: 1920x640px. Adjust size to your needs."
        },
        {
          "type": "image_picker",
          "id": "slide_mobile",
          "label": "Mobile Slide",
          "info": "Recommended size: 750x1100px. Adjust size to your needs."
        },
        {
          "type": "url",
          "id": "collection_link",
          "label": "Collection Link"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Slideshow Banner"
    }
  ]
}
{% endschema %}
