<style>
  #shopify-section-{{ section.id }} .collection-list-container {
    width: 90vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;
    margin: auto;
    box-sizing: border-box;
  }

  #shopify-section-{{ section.id }} .collection-image {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  @media screen and (max-width: 767px) {
    #shopify-section-{{ section.id }} .collection-list-container {
      grid-template-columns: 1fr 1fr;
    }
  }

  @media screen and (max-width: 520px) {
    #shopify-section-{{ section.id }} .collection-list-container {
      grid-template-columns: 1fr;
    }
  }
</style>

<div style="text-align:center;">
  <h4>{{ section.settings.collection_list_heading }}</h4>
</div>

<div class="collection-list-container">
  {% for block in section.blocks %}
    <a class="collection-link" href="{{ block.settings.collection_link }}">
      <img class="collection-image" src="{{ block.settings.collection_image | image_url: width: 1024 }}" />
    </a>
  {% endfor %}
</div>



{% schema %}
  {
    "name": "Collection List New",
    "settings": [
      {
        "type": "text",
        "id": "collection_list_heading",
        "label": "Collection Heading",
        "default": "Explore our Best products"
      }
    ],
    "blocks": [
      {
        "type": "collection-list",
        "name": "collection",
        "settings": [
          {
            "type": "image_picker",
            "id": "collection_image",
            "label": "Select Image"
          },
          {
            "type": "url",
            "id": "collection_link",
            "label": "Select Collection"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Collection List New"
      }
    ]
  }
{% endschema %}