

<style>
  #shopify-section-{{ section.id }} .collection-tabs ul {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
  }

  #shopify-section-{{ section.id }} .collection-tabs ul, #shopify-section-{{ section.id }} .collection-tabs li {
    padding: 0;
  }

  #shopify-section-{{ section.id }} .collection-tabs ul li {
    list-style: none;
    border: 1px solid #808080;
    padding: 1rem 1.2rem;
    border-radius: 10px;
  }

  #shopify-section-{{ section.id }} .collection-tabs ul li a {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 2rem;
    color: #212121;
    text-decoration: none;
  }

  #shopify-section-{{ section.id }} .collection-tabs ul li a:hover {
    text-decoration: underline;
  }

  #shopify-section-{{ section.id }} .collection-tabs img {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    object-fit: cover;
  }

  @media (max-width: 767px) {
    #shopify-section-{{ section.id }} .collection-tabs ul {
      flex-wrap: nowrap;
      overflow-x: scroll;
      overflow-y: hidden;
    }

    #shopify-section-{{ section.id }} .collection-tabs ul li {
      margin-bottom: 20px;
    }

    #shopify-section-{{ section.id }} .collection-tabs ul li a {
      font-size: 1rem;
      width: max-content;
    }
  }

</style>

<div class="page-width collection-tabs">
  {% if collections.size > 0 %}
    <ul>
      {% for collection in collections %}
        {% if collection.image != blank %}
          <li>
            <a href="{{ collection.url }}" title="{{ collection.title }}">
              {{ collection.image | image_url: width: 68 | image_tag: 
                loading: 'lazy',
                width: 34,
                height: 34,
                alt: collection.title 
              }}
              {{ collection.title }}
            </a>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  {% else %}
    <div class="no-collections">
      No collections found
    </div>
  {% endif %}
</div>


{% schema %}
  {
    "name": "Collection Tabs",
    "settings": [],
    "presets": [
      {
        "name": "Collection Tabs"
      }
    ]
  }
{% endschema %}
