{{ 'main.css' | asset_url | stylesheet_tag }}

<div class="main-container-testimonial-section">
  {% if section.blocks.size > 0 %}
    {% for block in section.blocks %}
      {%- liquid
        assign customer_image = block.settings.customer_image
        assign customer_name = block.settings.customer_name
        assign customer_review = block.settings.customer_review
      -%}
      <div class="card-testimonial-section-gm">
        <div class="testimonial-top-bar">&nbsp;</div>
        <div class="testimonial-content-bar">
          {% if customer_image != blank %}
            <img src="{{ customer_image | image_url: width: 100, height: 100 }}" width="100" height="100" alt="{{ customer_name }}">
          {% endif %}
          <h2>{{ customer_name }}</h2>
          <p>{{ customer_review }}</p>
        </div>
        <div class="testimonial-bottom-bar">
          <div class="stars-container">
            <i class="fa-solid fa-star star-fa-icons-testimonials"></i>
            <i class="fa-solid fa-star star-fa-icons-testimonials"></i>
            <i class="fa-solid fa-star star-fa-icons-testimonials"></i>
            <i class="fa-solid fa-star star-fa-icons-testimonials"></i>
            <i class="fa-solid fa-star star-fa-icons-testimonials"></i>
          </div>
        </div>
      </div>
    {% endfor %}
  {% else %}
    <p>No testimonials added yet.</p>
  {% endif %}
</div>

{% schema %}
{
   "name": "Testimonial",
  "settings": [],
  "blocks": [
    {
      "type": "testimonial",
      "name": "Testimonial",
      "settings": [
        {
          "type": "image_picker",
          "id": "customer_image",
          "label": "Customer Photo"
        },
        {
          "type": "text",
          "id": "customer_name",
          "label": "Customer Name",
          "default": "Genius Maker"
        },
        {
          "type": "inline_richtext",
          "id": "customer_review",
          "label": "Review Text"
        }
      ]
    }
  ],
  "presets": [
  {
    "name": "Testimonials",
    "blocks": [
      {
        "type": "testimonial",
        "settings": {
          "customer_name": "Afaq Mehmood",
          "customer_review": "This is an amazing product!"
        }
      }
    ]
  }
]
}
{% endschema %}