{% comment %}
{
  "name": "Newsletter 1",
  "version": "1.0.0",
  "url": "https://themepack.co/section/newsletter-1",
  "author": "Themepack",
  "license": "MIT"
}
{% endcomment %}

{%- liquid
  assign heading_tag = 'h2'

  if section.index0 == 0
    assign heading_tag = 'h1'
  endif
-%}

{%- capture html_id -%}
  {%- if section.settings.html_id != blank -%}
    id="{{ section.settings.html_id | handleize }}"
  {%- endif -%}
{%- endcapture -%}

{% stylesheet %}
  .tp-newsletter-1 * {
    margin: 0;
  }

  .tp__margin-left { margin-inline: 0 auto; }
  .tp__margin-center { margin-inline: auto; }
  .tp__margin-right { margin-inline: auto 0; }
  .tp__align-left { align-items: flex-start; }
  .tp__align-center { align-items: center; }
  .tp__align-right { align-items: flex-end; }

  .tp-newsletter-1 .tp__container {
    gap: var(--tp-space-form-top);
    max-width: calc(var(--tp-section-width) + 40px);
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-inline: 20px;
  }

  .tp-newsletter-1 .tp__container a {
    color: inherit;
  }

  .tp-newsletter-1 .tp__section-header {
    max-width: var(--tp-header-width);
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .tp-newsletter-1 .tp__section-icon {
    width: var(--tp-icon-width);
    position: relative;
    aspect-ratio: 1;
  }

  .tp-newsletter-1 .tp__section-icon img,
  .tp-newsletter-1 .tp__section-icon svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .tp-newsletter-1 .tp__section-heading {
    color: var(--tp-color-heading);
    font-size: var(--tp-font-size-heading);
    font-weight: var(--tp-font-weight-heading);
    margin-top: var(--tp-space-heading-top);
    line-height: 2.5ex;
  }

  .tp-newsletter-1 .tp__section-description {
    color: var(--tp-color-description);
    font-size: var(--tp-font-size-description);
    font-weight: var(--tp-font-weight-description);
    margin-top: var(--tp-space-description-top);
    line-height: 2.5ex;
  }

  .tp-newsletter-1 form {
    width: 100%;
  }

  .tp-newsletter-1 .tp__form {
    max-width: var(--tp-form-width);
    width: 100%;
  }

  .tp-newsletter-1 .tp__form-input-wrapper {
    padding: var(--tp-space-around-button);
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: right;
  }

  .tp-newsletter-1 .tp__form input[type="email"] {
    border: var(--tp-input-border-width) solid var(--tp-color-input-border);
    border-radius: var(--tp-input-border-radius);
    background-color: var(--tp-color-input-background);
    font-size: var(--tp-font-size-input);
    font-weight: var(--tp-font-weight-input);
    color: var(--tp-color-input);
    padding: 15px calc(var(--tp-button-width) + 15px) 15px 20px;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }

  .tp-newsletter-1 .tp__form input[type="email"]::placeholder {
    color: var(--tp-color-placeholder);
    font-weight: var(--tp-font-weight-input);
    font-family: inherit;
  }

  .tp-newsletter-1 .tp__button {
    max-width: var(--tp-button-width);
    background: var(--tp-color-button-background);
    color: var(--tp-color-button);
    font-size: var(--tp-font-size-button);
    font-weight: var(--tp-font-weight-button);
    border-top-right-radius: var(--tp-input-border-radius);
    border-bottom-right-radius: var(--tp-input-border-radius);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid transparent;
    flex-direction: row;
    padding: 14px 5px;
    gap: 10px;
    z-index: 1;
    transition: 0.3s;
  }

  .tp-newsletter-1 .tp__button--scale:hover { transform: scale(1.1); }
  .tp-newsletter-1 .tp__button--fade:hover { opacity: 0.8; }
  .tp-newsletter-1 .tp__button--invert:hover {
    color: var(--button-background-color);
    background-color: transparent;
    border-color: var(--button-background-color);
}

  .tp-newsletter-1 .tp__button img {
    max-width: 25px;
  }

  .tp-newsletter-1 .tp__footer-note {
    margin-top: var(--tp-space-footer-note-top);
    color: var(--tp-color-footer-note);
    line-height: 3ex;
    font-size: 14px;
  }
{% endstylesheet %}

<style>
  #tp-{{ section.id }} {
    --tp-section-width: {{ section.settings.section_width }}px;
    --tp-header-width: {{ section.settings.header_width }}px;
    --tp-form-width: {{ section.settings.form_width }}px;
    --tp-icon-width: {{ section.settings.mobile_icon_width }}px;
    --tp-button-width: {{ section.settings.mobile_button_width }}px;
    --tp-input-border-radius: {{ section.settings.input_border_radius }}px;
    --tp-input-border-width: {{ section.settings.input_border_tickness }}px;
    --tp-padding-top: {{ section.settings.mobile_top_padding }}px;
    --tp-padding-bottom: {{ section.settings.mobile_bottom_padding }}px;
    --tp-space-heading-top: {{ section.settings.heading_top_space }}px;
    --tp-space-description-top: {{ section.settings.description_top_space }}px;
    --tp-space-form-top: {{ section.settings.form_top_space }}px;
    --tp-space-footer-note-top: {{ section.settings.footer_note_top_space }}px;
    --tp-space-around-button: {{ section.settings.space_arround_button }}px;
    --tp-font-size-heading: {{ section.settings.mobile_heading_text_size }}px;
    --tp-font-size-description: {{ section.settings.mobile_description_text_size }}px;
    --tp-font-size-input: {{ section.settings.mobile_input_text_size }}px;
    --tp-font-size-button: {{ section.settings.mobile_button_text_size }}px;
    --tp-font-weight-heading: {{ section.settings.heading_text_weight }};
    --tp-font-weight-description: {{ section.settings.description_text_weight }};
    --tp-font-weight-input: {{ section.settings.input_text_weight }};
    --tp-font-weight-button: {{ section.settings.button_text_weight }};
    --tp-color-background: {{ section.settings.background_gradient | default: section.settings.background_color }};
    --tp-color-heading: {{ section.settings.heading_color }};
    --tp-color-description: {{ section.settings.description_color }};
    --tp-color-input: {{ section.settings.input_color }};
    --tp-color-input-background: {{ section.settings.input_background_color }};
    --tp-color-input-border: {{ section.settings.input_border_color }};
    --tp-color-placeholder: {{ section.settings.placeholder_text_color }};
    --tp-color-button: {{ section.settings.button_text_color }};
    --tp-color-button-background: {{ section.settings.button_background_color }};
    --tp-color-footer-note: {{ section.settings.footer_note_color }};

    padding-block: var(--tp-padding-top) var(--tp-padding-bottom);
    background: var(--tp-color-background);
    font-size: 0;
  }

  @media screen and (min-width: 768px) {
    #tp-{{ section.id }} {
      --tp-padding-top: {{ section.settings.desktop_top_padding }}px;
      --tp-padding-bottom: {{ section.settings.desktop_bottom_padding }}px;
      --tp-button-width: {{ section.settings.desktop_button_width }}px;
      --tp-icon-width: {{ section.settings.desktop_icon_width }}px;
      --tp-font-size-heading: {{ section.settings.desktop_heading_text_size }}px;
      --tp-font-size-description: {{ section.settings.desktop_description_text_size }}px;
      --tp-font-size-button: {{ section.settings.desktop_button_text_size }}px;
      --tp-font-size-input: {{ section.settings.desktop_input_text_size }}px;
    }
  }
</style>

<div id="tp-{{ section.id }}" class="tp__text-{{ section.settings.content_alignment }}">
  <div {{ html_id }} class="{{ 'tp__container ' | append: section.settings.html_class | strip }}">
    <div class="tp__section-header tp__margin-{{ section.settings.content_alignment }} tp__align-{{ section.settings.content_alignment }}">
      <div class="tp__section-icon">
        {%- if section.settings.image -%}
          {{ section.settings.image | image_url: width: 132 | image_tag: loading: 'lazy', widths: '180, 360, 540, 720, 900, 1080' }}
        {%- else -%}
          <svg width="132" height="132" viewBox="0 0 132 132" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M121 24.75H11C6.44365 24.75 2.75 28.4437 2.75 33V99C2.75 103.556 6.44365 107.25 11 107.25H121C125.556 107.25 129.25 103.556 129.25 99V33C129.25 28.4437 125.556 24.75 121 24.75Z" stroke="black" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M112.75 46.75L66 77L19.25 46.75" stroke="black" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M19.25 88L38.5 77" stroke="black" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M112.75 88L93.5 77" stroke="black" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        {%- endif -%}
      </div>

      {%- if section.settings.heading != blank -%}
        <{{ heading_tag }} class="tp__section-heading">{{ section.settings.heading }}</{{ heading_tag }}>
      {%- endif -%}

      {%- if section.settings.description != blank -%}
        <p class="tp__section-description">{{ section.settings.description }}</p>
      {%- endif -%}
    </div>

    {% form 'customer' %}
      <div class="tp__form tp__margin-{{ section.settings.content_alignment }}">
        <div class="tp__form-input-wrapper">
          <input type="email" class="tp__input" name="contact[email]" value="{{ form.email }}" required="true" placeholder="{{ section.settings.placeholder_text }}" />

          {%- if section.settings.button_icon != blank or section.settings.button_text != blank -%}
            <button type="submit" class="tp__button tp__button--{{ section.settings.button_hover }} tp__transition-03s">
              {%- liquid
                echo section.settings.button_text

                if section.settings.button_icon != blank
                  echo section.settings.button_icon | image_url: width: 25 | image_tag: loading: 'lazy'
                endif
              -%}
            </button>
          {%- endif -%}
        </div>

        {%- if section.settings.footer_note != blank -%}
          <p class="tp__footer-note">{{ section.settings.footer_note }}</p>
        {%- endif -%}
      </div>
    {% endform %}
  </div>
</div>

{% schema %}
{
  "name": "TP - Newsletter 1",
  "class": "tp-section tp-newsletter-1",
  "tag": "section",
  "disabled_on": {
    "groups": [
      "header"
    ]
  },
  "settings": [
    {
      "type": "header",
      "content": "Section information",
      "info": "Codename: tp-newsletter-1. For detailed documentation and best practices on using this section, please visit the [Section Guide](https://example.com)."
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Icon",
      "info": "Uploading SVG file is recommended for optimal quality."
    },
    {
      "type": "range",
      "id": "desktop_icon_width",
      "min": 20,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "Desktop: icon width",
      "default": 132
    },
    {
      "type": "range",
      "id": "mobile_icon_width",
      "min": 20,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "Mobile: icon width",
      "default": 60
    },
    {
      "type": "inline_richtext",
      "id": "heading",
      "label": "Heading"
    },
    {
      "type": "inline_richtext",
      "id": "description",
      "label": "Description"
    },
    {
      "type": "text",
      "id": "placeholder_text",
      "label": "Placeholder text",
      "default": "Enter your email address"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button text",
      "default": "Subscribe"
    },
    {
      "type": "image_picker",
      "id": "button_icon",
      "label": "Button icon"
    },
    {
      "type": "inline_richtext",
      "id": "footer_note",
      "label": "Footer note",
      "default": "* We respect your privacy. Unsubscribe at anytime."
    },
    {
      "type": "range",
      "id": "space_arround_button",
      "min": 0,
      "max": 15,
      "step": 1,
      "unit": "px",
      "label": "Space arround the button",
      "info": "Leave it as zero if you want a full-height button.",
      "default": 9
    },
    {
      "type": "number",
      "id": "desktop_heading_text_size",
      "label": "Desktop: heading text size (px)",
      "default": 50
    },
    {
      "type": "number",
      "id": "mobile_heading_text_size",
      "label": "Mobile: heading text size (px)",
      "default": 24
    },
    {
      "type": "select",
      "id": "heading_text_weight",
      "label": "Heading text weight",
      "options": [
        {
          "value": "100",
          "label": "Thin"
        },
        {
          "value": "200",
          "label": "Extra Light"
        },
        {
          "value": "300",
          "label": "Light"
        },
        {
          "value": "400",
          "label": "Regular"
        },
        {
          "value": "500",
          "label": "Medium"
        },
        {
          "value": "600",
          "label": "Semi Bold"
        },
        {
          "value": "700",
          "label": "Bold"
        },
        {
          "value": "800",
          "label": "Extra Bold"
        },
        {
          "value": "900",
          "label": "Black"
        }
      ],
      "default": "500"
    },
    {
      "type": "number",
      "id": "desktop_description_text_size",
      "label": "Desktop: description text size (px)",
      "default": 18
    },
    {
      "type": "number",
      "id": "mobile_description_text_size",
      "label": "Mobile: description text size (px)",
      "default": 18
    },
    {
      "type": "select",
      "id": "description_text_weight",
      "label": "Description text weight",
      "options": [
        {
          "value": "100",
          "label": "Thin"
        },
        {
          "value": "200",
          "label": "Extra Light"
        },
        {
          "value": "300",
          "label": "Light"
        },
        {
          "value": "400",
          "label": "Regular"
        },
        {
          "value": "500",
          "label": "Medium"
        },
        {
          "value": "600",
          "label": "Semi Bold"
        },
        {
          "value": "700",
          "label": "Bold"
        },
        {
          "value": "800",
          "label": "Extra Bold"
        },
        {
          "value": "900",
          "label": "Black"
        }
      ],
      "default": "500"
    },
    {
      "type": "number",
      "id": "desktop_input_text_size",
      "label": "Desktop: input text size (px)",
      "default": 16
    },
    {
      "type": "number",
      "id": "mobile_input_text_size",
      "label": "Mobile: input text size (px)",
      "default": 16
    },
    {
      "type": "select",
      "id": "input_text_weight",
      "label": "Input text weight",
      "options": [
        {
          "value": "100",
          "label": "Thin"
        },
        {
          "value": "200",
          "label": "Extra Light"
        },
        {
          "value": "300",
          "label": "Light"
        },
        {
          "value": "400",
          "label": "Regular"
        },
        {
          "value": "500",
          "label": "Medium"
        },
        {
          "value": "600",
          "label": "Semi Bold"
        },
        {
          "value": "700",
          "label": "Bold"
        },
        {
          "value": "800",
          "label": "Extra Bold"
        },
        {
          "value": "900",
          "label": "Black"
        }
      ],
      "default": "400"
    },
    {
      "type": "select",
      "id": "input_border_tickness",
      "label": "Input border thickness (px)",
      "options": [
        {
          "value": "1",
          "label": "1"
        },
        {
          "value": "2",
          "label": "2"
        },
        {
          "value": "3",
          "label": "3"
        },
        {
          "value": "4",
          "label": "4"
        }
      ],
      "default": "3"
    },
    {
      "type": "range",
      "id": "input_border_radius",
      "min": 0,
      "max": 50,
      "step": 1,
      "unit": "px",
      "label": "Input border radius",
      "default": 0
    },
    {
      "type": "number",
      "id": "desktop_button_text_size",
      "label": "Desktop: button text size (px)",
      "default": 16
    },
    {
      "type": "number",
      "id": "mobile_button_text_size",
      "label": "Mobile: button text size (px)",
      "default": 16
    },
    {
      "type": "select",
      "id": "button_text_weight",
      "label": "Button text weight",
      "options": [
        {
          "value": "100",
          "label": "Thin"
        },
        {
          "value": "200",
          "label": "Extra Light"
        },
        {
          "value": "300",
          "label": "Light"
        },
        {
          "value": "400",
          "label": "Regular"
        },
        {
          "value": "500",
          "label": "Medium"
        },
        {
          "value": "600",
          "label": "Semi Bold"
        },
        {
          "value": "700",
          "label": "Bold"
        },
        {
          "value": "800",
          "label": "Extra Bold"
        },
        {
          "value": "900",
          "label": "Black"
        }
      ],
      "default": "400"
    },
    {
      "type": "number",
      "id": "desktop_button_width",
      "label": "Desktop: button width (px)",
      "default": 160
    },
    {
      "type": "number",
      "id": "mobile_button_width",
      "label": "Mobile: button width (px)",
      "default": 120
    },
    {
      "type": "select",
      "id": "button_hover",
      "label": "Button hover",
      "options": [
        {
          "value": "none",
          "label": "None"
        },
        {
          "value": "invert",
          "label": "Invert"
        },
        {
          "value": "fade",
          "label": "fade"
        },
        {
          "value": "scale",
          "label": "Scale"
        }
      ],
      "default": "fade"
    },
    {
      "type": "header",
      "content": "Design"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Background color",
      "default": "#FFFFFF"
    },
    {
      "type": "color_background",
      "id": "background_gradient",
      "label": "Background gradient",
      "info": "If set, overrides the background color."
    },
    {
      "type": "color",
      "id": "heading_color",
      "label": "Heading color",
      "default": "#000000"
    },
    {
      "type": "color",
      "id": "description_color",
      "label": "Description color"
    },
    {
      "type": "color",
      "id": "input_border_color",
      "label": "Input border color",
      "default": "#E1DBDB"
    },
    {
      "type": "color",
      "id": "input_background_color",
      "label": "Input background",
      "default": "#FFFFFF"
    },
    {
      "type": "color",
      "id": "placeholder_text_color",
      "label": "Placeholder text color",
      "default": "#525252"
    },
    {
      "type": "color",
      "id": "input_color",
      "label": "Input color",
      "default": "#000000"
    },
    {
      "type": "color",
      "id": "button_background_color",
      "label": "Button background color",
      "default": "#000000"
    },
    {
      "type": "color",
      "id": "button_text_color",
      "label": "Button text color",
      "default": "#FFFFFF"
    },
    {
      "type": "color",
      "id": "footer_note_color",
      "label": "Footer note color",
      "default": "#525252"
    },
    {
      "type": "header",
      "content": "Section layout"
    },
    {
      "type": "number",
      "id": "section_width",
      "label": "Section width (px)",
      "default": 1440
    },
    {
      "type": "number",
      "id": "header_width",
      "label": "Header width (px)",
      "default": 900
    },
    {
      "type": "number",
      "id": "form_width",
      "label": "Form width (px)",
      "default": 740
    },
    {
      "type": "text_alignment",
      "id": "content_alignment",
      "label": "Content alignment",
      "default": "center"
    },
    {
      "type": "number",
      "id": "mobile_breakpoint",
      "label": "Mobile breakpoint (px)",
      "default": 768
    },
    {
      "type": "range",
      "id": "heading_top_space",
      "min": 0,
      "max": 50,
      "step": 1,
      "unit": "px",
      "label": "Heading top space",
      "default": 0
    },
    {
      "type": "range",
      "id": "description_top_space",
      "min": 0,
      "max": 50,
      "step": 1,
      "unit": "px",
      "label": "Description top space",
      "default": 20
    },
    {
      "type": "range",
      "id": "form_top_space",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Form top space",
      "default": 32
    },
    {
      "type": "range",
      "id": "footer_note_top_space",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Footer note top space",
      "default": 16
    },
    {
      "type": "header",
      "content": "Section padding"
    },
    {
      "type": "range",
      "id": "desktop_top_padding",
      "min": 0,
      "max": 200,
      "step": 10,
      "unit": "px",
      "label": "Desktop: top padding",
      "default": 50
    },
    {
      "type": "range",
      "id": "desktop_bottom_padding",
      "min": 0,
      "max": 200,
      "step": 10,
      "unit": "px",
      "label": "Desktop: bottom padding",
      "default": 50
    },
    {
      "type": "range",
      "id": "mobile_top_padding",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px",
      "label": "Mobile: top padding",
      "default": 50
    },
    {
      "type": "range",
      "id": "mobile_bottom_padding",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px",
      "label": "Mobile: bottom padding",
      "default": 50
    },
    {
      "type": "header",
      "content": "Advanced"
    },
    {
      "type": "text",
      "id": "html_id",
      "label": "HTML ID",
      "info": "Unique identifier for linking directly to this section. Leave blank if unsure."
    },
    {
      "type": "text",
      "id": "html_class",
      "label": "HTML Class",
      "info": "Comma separated list of classes."
    }
  ],
  "presets": [
    {
      "name": "TP - Newsletter 1",
      "settings": {
        "heading": "Get the latest news, events & more delivered to your inbox",
        "footer_note": "* We respect your privacy. Unsubscribe at anytime."
      }
    }
  ]
}
{% endschema %}
